:host {
  width: 100%;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-text {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}